.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}

.askButton {
  display: inline-block;
  margin-top: 2rem;
  padding: 1rem 2rem;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  font-size: 1.25rem;
  font-weight: 700;
  text-align: center;
  border-radius: 8px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  user-select: none;
}
