.container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.answerItem {
  position: relative;
  width: 100%;
  max-width: 1000px;
  background-color: white;
  padding: 1rem 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: auto;
}

.answerItem p {
  color: black;
  white-space: normal;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  margin: 0;
  font-size: 1.2rem;
}

.answerItem small {
  color: black;
  margin-top: auto;
}
